<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HSblog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<div class="container-fluid">
<select class="btn btn-primary" id="course">
    <option value="slct">Select Course</option>
    <option>HTML</option>
    <option>CSS3</option>
    <option>JS</option>
    <option>JQUERY</option>
    <option>BOOTSTRAP</option>
    <option>ANGULARJS</option>
    <option>PHP</option>
    <option>MYSQL</option>
</select>

<div class="container logo" id="imgs" align="center">
    <img src="../images/logo.png" height="300" width="300" id="hslogo"/>
    <div id="html" class="logos">
    <a href="#htmlc" data-toggle="collapse"><img src="../images/html.png"  id="htmllogo" /></a>
        <div id="htmlc" class="collapse">
       <table>
           <tr>
               <td><b>Course Name:</b></td>
               <td>HTML 5</td>
           </tr>
           <tr>
               <td><b>Course Duration:</b></td>
               <td>30 days</td>
           </tr>
           <tr>
               <td><b>Course Fee:</b></td>
               <td>500/- </td>
           </tr>
           <tr>
               <td colspan="2" align="center">
                   <input type="button" class="btn btn-danger" value="Register" data-toggle="modal" data-target="#register" >
               </td>
           </tr>
       </table>

        </div>
    </div>
    <div id="css3" class="logos">
        <a href="#cssc" data-toggle="collapse"><img src="../images/css3.png" id="csslogo"/></a>
        <div id="cssc" class="collapse ">
            <table>
                <tr>
                    <td><b>Course Name:</b></td>
                    <td>CSS 3</td>
                </tr>
                <tr>
                    <td><b>Course Duration:</b></td>
                    <td>30 days</td>
                </tr>
                <tr>
                    <td><b>Course Fee:</b></td>
                    <td>500/- </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" class="btn btn-danger" value="Register" data-toggle="modal" data-target="#register" >
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div id="bs" class="logos">
        <a href="#bsc" data-toggle="collapse"><img src="../images/bootstrap.png" /></a>
        <div id="bsc" class="collapse ">
            <table>
                <tr>
                    <td><b>Course Name:</b></td>
                    <td>Bootstrap</td>
                </tr>
                <tr>
                    <td><b>Course Duration:</b></td>
                    <td>30 days</td>
                </tr>
                <tr>
                    <td><b>Course Fee:</b></td>
                    <td>500/- </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" class="btn btn-danger" value="Register" data-toggle="modal" data-target="#register" >
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div id="js" class="logos">
        <a href="#jsc" data-toggle="collapse"><img src="../images/js.png" /></a>
        <div id="jsc" class="collapse">
            <table>
                <tr>
                    <td><b>Course Name:</b></td>
                    <td>Bootstrap</td>
                </tr>
                <tr>
                    <td><b>Course Duration:</b></td>
                    <td>30 days</td>
                </tr>
                <tr>
                    <td><b>Course Fee:</b></td>
                    <td>500/- </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" class="btn btn-danger" value="Register" data-toggle="modal" data-target="#register" >
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div id="jq" class="logos">
        <a href="#jqc" data-toggle="collapse"><img src="../images/jquery.png"/></a>
        <div id="jqc" class="collapse">
            <table>
                <tr>
                    <td><b>Course Name:</b></td>
                    <td>jQuery</td>
                </tr>
                <tr>
                    <td><b>Course Duration:</b></td>
                    <td>45 days</td>
                </tr>
                <tr>
                    <td><b>Course Fee:</b></td>
                    <td>1000/- </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" class="btn btn-danger" value="Register" data-toggle="modal" data-target="#register" >
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div id="ajs" class="logos">
        <a href="#ajsc" data-toggle="collapse"><img src="../images/ajs.png" /></a>
        <div id="ajsc" class="collapse">
            <table>
                <tr>
                    <td><b>Course Name:</b></td>
                    <td>Angular JS</td>
                </tr>
                <tr>
                    <td><b>Course Duration:</b></td>
                    <td>45 days</td>
                </tr>
                <tr>
                    <td><b>Course Fee:</b></td>
                    <td>1000/- </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" class="btn btn-danger" value="Register" data-toggle="modal" data-target="#register" >
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div id="php" class="logos">
        <a href="#phpc" data-toggle="collapse"><img src="../images/php.png" /></a>
        <div id="phpc" class="collapse">
            <table>
                <tr>
                    <td><b>Course Name:</b></td>
                    <td>PHP</td>
                </tr>
                <tr>
                    <td><b>Course Duration:</b></td>
                    <td>60 days</td>
                </tr>
                <tr>
                    <td><b>Course Fee:</b></td>
                    <td>2500/- </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" class="btn btn-danger" value="Register" data-toggle="modal" data-target="#register" >
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div id="mysql" class="logos">
        <a href="#mysqlc" data-toggle="collapse"><img src="../images/mysql.png"/></a>
        <div id="mysqlc" class="collapse ">
            <table>
                <tr>
                    <td><b>Course Name:</b></td>
                    <td>Mysql</td>
                </tr>
                <tr>
                    <td><b>Course Duration:</b></td>
                    <td>30 days</td>
                </tr>
                <tr>
                    <td><b>Course Fee:</b></td>
                    <td>1500/- </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" class="btn btn-danger" value="Register" data-toggle="modal" data-target="#register" >
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<div class="modal fade" id="register" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn btn-danger" data-dismiss="modal" >X</button>
                <h3 align="center"><span class="glyphicon glyphicon-login"></span>Register Here </h3>
            </div>
            <div class="modal-body">
                <form role="form">
                    <table align="center">
                        <tr>
                            <td><span class="glyphicon glyphicon-user"></span>Student Name </td>
                            <td>
                                <input placeholder="Enter Name">
                            </td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-envelope"></span>Email Id </td>
                            <td>
                                <input placeholder="Enter email id">
                            </td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-phone"></span>Mobile Number </td>
                            <td>
                                <input placeholder="mobile number">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button type="submit" class="btn btn-block btn-info">
                                    <span class="glyphicon glyphicon-lock"></span>Submit
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>cancel
                </button>
                <p><a href="#">need help?</a> </p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../stylesheets/user.css">
<script src="../scripts/userjq.js"></script>