<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>HSTech</title>


</head>
<body>
<div class="jumbotron text-center">
<h1>HSTech</h1>
<p>We Specialized in UI Technologies</p>
    <form class="form-inline">
        <div class="input-group">
        <input placeholder="enter email" class="form-control" size="50">
        <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
        </div>
        </div>
    </form>
</div>
</body>
</html>
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../styles/theme2.css">