<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body id="mypage">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="#">Sundhya</a>
        </div>

    <div class="collapse navbar-collapse" id="mynav">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#who">who</a> </li>
            <li><a href="#what">what</a> </li>
            <li><a href="#where">where</a> </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container-fluid bg1 text-center" id="who">
<h3>who is This she?</h3>
<img src="../images/student.jpg" height="100" width="100" class="img-circle"/>
<h3>She is a Student</h3>
</div>

<div class="container-fluid bg1 text-center">
    <h3>who is This she?</h3>
    <img src="../images/student.jpg" height="100" width="100" class="img-circle"/>
    <h3>She is a Student</h3>
</div>

<div class="container-fluid bg2 text-center" id="what">
    <h3>What is She?</h3>
    <p> She is Sundhya, an intelligent and honest girl.Face her insecurities head-on.
        Some common signs of insecurity: Asking a question to which you already know the answer;
        being artificially social with instructors or other students,
        when the real reason is to temporarily kill the pain.</p>
    <button href="#" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span> Search</button>
</div>

<div class="container-fluid bg2 text-center">
    <h3>What is She?</h3>
    <p> She is Sundhya, an intelligent and honest girl.Face her insecurities head-on.
        Some common signs of insecurity: Asking a question to which you already know the answer;
        being artificially social with instructors or other students,
        when the real reason is to temporarily kill the pain.</p>
    <button href="#" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span> Search</button>
</div>

<div class="container-fluid bg3 text-center" id="where">
    <h3>Where to find her?</h3>
    <div class="row">
        <div class="col-sm-4">
            <p> Most of the time she spent in colege. All faculty likes her. all students inspired by her.</p>
            <img src="../images/college.jpg" class="image-responsive" height="100" width="100"/></div>
        <div class="col-sm-4">
            <p>specially inlibrary,
                she loves reading.  she is interested in psycholog.
                she is not only reading the books but also communicate with other students.</p>
            <img src="../images/library.jpg" class="image-responsive" height="100" width="100"/>
        </div>
        <div class="col-sm-4">
            <p>At home she shares all feelings with her mother. And also cooking well. </p>
            <img src="../images/home.jpg"class="image-responsive" height="100" width="100"/></div>
    </div>
</div>

<div class="container-fluid bg3 text-center">
    <h3>Where to find her?</h3>
    <div class="row">
        <div class="col-sm-4">
            <p> Most of the time she spent in colege. All faculty likes her. all students inspired by her.</p>
            <img src="../images/college.jpg" class="image-responsive" height="100" width="100"/></div>
        <div class="col-sm-4">
            <p>specially inlibrary,
                she loves reading.  she is interested in psycholog.
                she is not only reading the books but also communicate with other students.</p>
            <img src="../images/library.jpg" class="image-responsive" height="100" width="100"/>
        </div>
        <div class="col-sm-4">
            <p>At home she shares all feelings with her mother. And also cooking well. </p>
            <img src="../images/home.jpg"class="image-responsive" height="100" width="100"/></div>
    </div>
</div>

<footer class="container-fluid bg4 text-center">
        <p>&copy; Bootstrap theme created by Mr.Harish!!</p>
        <a href="#"> <span class="glyphicon glyphicon-chevron-up"></span></a>

</footer>
</body>
</html>
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../styles/theme1.css">